@import '../../variables.css';

* {
    box-sizing: border-box;
}

.search-box {
    border: 2px solid var(--accent-color);
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    height: 60vh;
    min-height: 20rem;
    
}

.search-title {
    margin: 0.5rem;
    padding: 2rem 0.5rem;
    color: var(--accent-color);
    font-size: 2.2rem;
}



