@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../variables.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-height: 15vh;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.buttons-div {
    display: flex;
    align-items: flex-end;
}

.button {
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: #f0f0f0;
    color: var(--secondary-color);
    font-size: 1.25em;
    font-weight: 900;
}

.button:hover {
    cursor: pointer;
}

.signup {
    margin: 0rem 0.5rem;
    
}
.login {
    margin: 0rem 0.5rem;
}
