@import '../../variables.css';

* {
    box-sizing: border-box;
}


.navbar {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);

    /* border: 2px solid var(--primary-color); */
    
}

.nav-link {
    display: inline-table;
    position: relative;
    border: none;
    flex: 1;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none; 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link.active {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 0rem 0rem 1rem 1rem;
}